<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Go_manipulator">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import Go_manipulator urdf file -->
    <xacro:include filename="$(find Go_manipulator_description)/urdf/go_manipulator.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="Go_manipulator.ros2_control.xacro" />


    <xacro:Go_manipulator_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
